h1 {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: grey;
}

.products_title {
  display: flex;
  justify-content: center;
}

.shopping_bag_title {
  display: flex;
  justify-content: center;
}

.shopping_bag {
  width: 110%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_form_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
}

.js-add-products {
  background-color: green;
}

.js-add-products._delete {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  gap: 200px;
}

.card {
  width: 500px;
}

.card__description {
  box-sizing: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:150px;
}

.delete_product_shoppingBag {
  padding: 10px;
  font-size: 20px;
}

.products__title {
  display: flex;
  flex-direction: column;

}