.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
}

.js-add-products {
  background-color: green;
}

.js-add-products._delete {
  background-color: red;
}

.products {
  display: flex;
  flex-direction: row;
}