h1 {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: grey;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: #439286;
  margin-bottom: 40px;
}

.input {
  width: 70%;
  font-size: 25px;
  padding-left: 10px;
  border-color: #439286;
}

.products_title {
  display: flex;
  justify-content: center;
}

.shopping_bag_title {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.shopping_bag {
  width: 110%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;  
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.button {
  color: white;
  font-size: 20px;
  border: none;
  padding: 13px;
  margin: 5px;
  background-color: #439286;
}

.header_form_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
}

.js-add-products {
  background-color: #439286;
  width: auto;
  align-self: center;
  padding: 10px 20px;
  color: white;
  border: none;
}

.js-add-products._delete {
  background-color: #f6d0cf;
  width: auto;
  align-self: center;
  padding: 10px 20px;
  color: black;
  border: none;
}

.delete_product_shoppingBag {
  background-color: #f6d0cf;
  width: auto;
  align-self: flex-end;
  padding: 20px 30px;
  color: black;
  border: none;
  font-size: 30px;
}

.delete_allProducts_shoppingBag {
  background-color: #f6d0cf;
  width: auto;
  padding: 20px 30px;
  color: black;
  border: none;
  font-size: 30px;
  margin-top: 30px;
}

.js-shopping_bag {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.card {
  width: 100%;
  max-width: 350px;
  margin: 0 auto; 
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
  0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
  0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.card_img {
  max-width: 100%;
  height: auto;  
  display: block;
  margin: 0 auto;
}

.card_shoppingBag{
  width: 100%;
  max-width: 350px;
  margin: 0 auto;   box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
  0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
  0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.card__description {
  box-sizing: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:50px;
}

.delete_product_shoppingBag {
  padding: 10px;
  font-size: 20px;
}

.products__title {
  display: flex;
  flex-direction: column;

}